<h1>My tasks</h1>

<% @tasks.each do |task| %>
  <div>

    <%= link_to task.title, task_path(task) %> -

    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

    <%= link_to '- Edit', edit_task_path(task) %>

    <% if task.completed == true %>
    <div><span class="glyphicon glyphicon-check" aria-hidden="true"></span></div>

    <% else %>
    <div><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span></div>
    <%end%>
  </div>

<% end %>
<br>
<%= link_to '-New-', new_task_path %>

